.bar a{
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
    transition:width 2s;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
#home{
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
    transition:width 2s;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    background-color: #4D7C8A;
    border-radius: 10px;
}
#i1:hover{
    background-color:#4D7C8A;
    color: white;
    border-radius: 10px;
}
.bar{
    float: right;
    width:1400px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
} 
.nav {
    height: 100px;
    background-color:white;
    display: flex;
    
}


#logo{
    margin-top: null;
    height: 100px;
}
#profile{
    height:80px;
    padding-right: 20px;
    padding-top: 5px;
}
.img { 
    position:relative;
}
.img img {
    width: 1827px;
    height: 650px;
    margin: 0;
    position:relative;
    object-fit: cover;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}


.vid2{
 position: relative;
}



#appoint{
    position:relative;
    font-size: 25px;
    background-color:#4e95c5;
    color:white;
    margin-left: 25%;
    margin-top: 60px;
    border-radius: 30px;
    padding: 32px 16px;
    border-color: transparent;

   
}
#emergency{
    position:relative;
    font-size: 25px;
    background-color:#4e95c5;
    color:white;
    margin-left: 10%;
    margin-top: 60px;
    border-radius: 30px;
    padding: 32px 16px;
    border-color: transparent;
    width: 270px;

   
}
.Mentorship{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Mentorship img{
    border-radius: 50%;
}
.Mentorship p{
    color: #1341a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Mentorship a{
    text-decoration: none;
}/*https://github.com/Dhanashreem24/Project1.git*/
.container{
    background-image: url(doc4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 650px;
}
.overlay3{
    background: #000000a1;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.text{
    position:absolute;
    top:50%;
    left: 15%;
    z-index: 2;
    font-family: sans-serif;
}
.text h1{
    font-size: 60px;
    color:whitesmoke;
    text-align: center;
    margin: 0;
}
.text p{
    font-size: 20px;
    color:whitesmoke;
    text-align: center;
    margin: 0;
    letter-spacing: 6px;
    margin: 10px;
}