.bar a{
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
    transition:width 2s;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
#home{
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 20px;
    transition:width 2s;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    background-color: #4D7C8A;
}
a:hover{
    background-color:#4D7C8A;
    color: white;
}
.bar{
    float: right;
    width:1400px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
} 
.nav {
    height: 100px;
    background-color:white;
    display: flex;
    
}


#logo{
    margin-top: null;
    height: 100px;
}
#profile{
    height:80px;
    padding-right: 20px;
    padding-top: 5px;
}
.img { 
    position:relative;
}
.img img {
    width: 1900px;
    height: 650px;
 
    position:relative;
    object-fit: cover;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}


.vid2{
 position: relative;
}

.vid2 video{
    position: relative;
    z-index: 0;
}
.overlay2{
    background-color: transparent;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    float: right;
}
.overlay2 a{
    background-color: rgb(0,0,0,0.5);
    font-size: 50px;
    color:white;
   
}
.Mentorship{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Mentorship img{
    border-radius: 50%;
}
.Mentorship p{
    color: #1341a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Mentorship a{
    text-decoration: none;
}
